@font-face {
  font-family: 'sixtyfour';
  src: url(../fonts/Sixtyfour-Regular.ttf) format('truetype');
}

* {
  font-family: Georgia, Helvetica, "Times New Roman";
}

.navmenu {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: darkgray;
  height: 80px;
}

.navmenu li {
  color: white;
  font-size: 35px;
  font-weight: bold;
  display: inline;
  height: 80px;
}

.navmenu li:hover {
  color: darkgray;
  background-color: white;
  font-size: 35px;
  height: 80px;
}

h1 {
  text-align: center;
}

h4 {
  text-transform: uppercase;
}

table .footer {
  border-top: black solid 4px;
}

p {
  font-family: 'sixtyfour';
  text-align: justify;
}
