@font-face {
  font-family: 'sixtyfour';
}

* {
  font-family: Georgia, Helvetica, "Times New Roman";
}

h1 {
  text-align: center;
}

h4 {
  text-transform: uppercase;
}

table .footer {
  border-top: black solid 4px;
}

p {
  text-align: justify;
}
